<mat-toolbar color="primary">
    <span class="header">{{title}}</span>
</mat-toolbar>

<div class="container" novalidate>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
        <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Spiderman" formControlName="name" uppercase>
            <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
                Required field, must be atleast 3 characters
            </mat-error>
        </mat-form-field>
        <button mat-button color="primary" type="submit" [disabled]="!formGroup.valid">
            Save hero
        </button>
    </form>
</div>