<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
    <p>{{message}}</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancel()" cdkFocusInitial>No</button>
    <button mat-button color="primary" mat-button (click)="confirm()">Yes</button>
</div>