<mat-form-field *ngIf="filter">
    <input matInput (keyup)="searchHero($event.target.value)" placeholder="Search hero">
</mat-form-field>

<button mat-button color="primary" (click)="newHero()">New hero</button>

<table mat-table [dataSource]="dataSource">

    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>{{column}}</th>
        <ng-container *ngIf="column === 'actions'; else simpleCell">
            <td mat-cell *matCellDef="let element">
                <a mat-icon-button (click)="editHero(element)">
                    <mat-icon>edit</mat-icon>
                </a>
                <a mat-icon-button (click)="deleteHero(element)">
                    <mat-icon color="warn">delete</mat-icon>
                </a>
            </td>
        </ng-container>
        <ng-template #simpleCell>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-template>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>